
.searchresult {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 20px;
  background-color: #084115;
  width: 30%;
}

  
  .searchresult a {
    text-decoration: none;
    /* font-size: 100px;  */
    color: #ffffff; 
    font-weight: bold;
    font-size: large;
  }
  
  .searchresult:hover {
    background-color: #0b561c; /* Change to the desired hover color */
  }
 



  /* .searchresult {
    font-size: 1.8rem;
  }
  
  .searchresult a {
    text-transform: capitalize;
    color: rgba(0, 0, 3, 0.8);
    transition: 0.5s;
  }
  .searchresult:hover > a {
    transform-origin: left;
    color: rgb(17, 111, 61);
    text-decoration: underline;
    transition: 0.5s;
  } */
  